{% extends 'base.html' %}
{% block title %}
FLASH|Kontaktet
{% endblock  %}

{% block content %}
{% include 'lajmet/includes/banner.html' %}
{% block banner_img %}
</br>
</br>
</br>
</br>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
      </div>
      <div class="col">
        <h3>Kontaktet tona</h3>
        <div class="card" style="width: 18rem;">
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-phone"></i> + 355 66 66 66 666</li>
              <li class="list-group-item"><i class="fa-solid fa-envelope"></i> info@flash.com</li>
              <li class="list-group-item"><i class="fa-solid fa-user-tie"></i> hr@flash.com</li>
            </ul>
          </div>
      </div>
    </div>
    </div>
{% endblock  %}
{% endblock  %}