{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}FLASH | REDAKSIA{% endblock  %}

{% block content %}

{% block start %}
    {% if user.is_authenticated %}
    <div class='container'>
      <div class="card bg-dark text-dark">
        <img class="card-img img-fluid" src="{%static 'images/backoffice.jpg'%}" alt="Card image">
      </div>
      <div class="jumbotron">
        <h1 class="display-4">Pershendetje, {{user}}</h1>
        <p class="lead">Kjo eshte faqa kryesore per te redakuar nje lajm.</p>
        <hr class="my-4">
        <p>Ne kete faqe mund te krijojm, fshijm ose modifikojm nje lajm</p>
      </div>
      <center><h3>Lajmi i fundit</h3></center>
        {% for lajmi in lajmet  %}
        <div class="card text-center">
          <div class="card-header">
            FLASH | NEWS
          </div>
          <div class="card-body">
            <h5 class="card-title">{{lajmi.titulli}}</h5>
            <p class="card-text">{{lajmi.pershkrimi}}</p>
            <a href="{% url 'lajmi' lajmi.slug %}" class="btn btn-primary">Lexo Lajmin</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
        {% endfor %}
      </br>
      </br>
      </br>
    {% else %}
    <center><h1>Ju duhet te logoheni ne menyre qe te hyni ne faqen e redaksise</h1></center>
    {% endif %}
    {% endblock %}
      
{% endblock  %}