{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}
FLASH| {{lajmi.titulli}}
{% endblock  %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{{lajmi.titulli}}</h1>
  <p class="lead">{{lajmi.pershkrimi}}</p>
  <hr class="my-4">
  <p>{{lajmi.pershkrimi}}</p>
  <figure class="figure">
    <img src="{{lajmi.foto.url}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    
  </figure>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'update' lajmi.id %}" role="button">Perditeso</a>
    <a class="btn btn-danger btn-lg" href="{% url 'fshij' lajmi.slug %}" role="button">Fshij</a>
  </p>
</div>


{% endblock  %}


