{% extends 'base.html' %}
{% load static %}
{% block title %}
FLASH| {{lajmi.titulli}}
{% endblock  %}
{% block content %}
<div class='fluid-container'>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{lajmi.titulli}}</h1>
      <p class="lead">{{lajmi.pershkrimi}}</p>
      <span class="badge badge-danger"><a>Danger</a></span>
      <figure class="figure">
        <img src="{{lajmi.foto.url}}" class="figure-img img-fluid rounded" alt="{{lajmi.title}}">
      </figure>
      <div class="card">
        <div class="card-body">
          <p>Autori | {{lajmi.autori}}</p>
          <p>Data publikimit | {{lajmi.data}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>{{lajmi.permbajtja | linebreaks}}</p>
        </div>
      </div>
    </div>
</div>
</div>


{% endblock  %}


