<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    {% block static_file %}
    <link rel="stylesheet" href="{% static 'testapp.css' %}">
    {% endblock  %}  
</head>
<body>
    <nav class='navigation'>
        <a href='{% url 'faqa-pare' %}'>
            <img src={%static 'images/logo.png'%} alt='logo'/>
        </a>
        <ul class='lista'>
            <li><a href="{% url 'faqa-pare' %}">Lajmet</a></li>
            <li><a href="{% url 'ne' %}">Mbi Ne</a></li>
            <li><a href="{% url 'kontaktet' %}">Kontaktet</a></li>
           
        </ul>
    </nav>
    {% block content %}
    
    {% endblock  %}
    <footer>
        <p>Kjo eshte faqa e lajmeve FLASH @2023</p>
    </footer>
</body>
<script>

</script>
</html>